/*common font added */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}

.top-banner{
    display: flex;
}
h1{
    width: 582px;
    height: 133px;
    font-size: 50px;
    margin: 5px;
}
p{
    margin-left: 40px;
}
.half-width{
    width: 40%;
    float: left;
}
.button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 20px;
    background-color: #E02C6D;
    margin-left: 40px;
    margin-top: 40px;
}
.half-width img{
    padding-left: 40px;
    margin-left: 50px;
}
.item-section{
   display: inline; 
 
}
.title-item{
   
    text-align: center;
    
}
.item-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row: 30px;
    text-align: left;
    
}


.item-class{
   
    margin: 5px;
    border-radius: 10px;
    text-align: left;
}

.item{
    text-align: left;
}
.item img{
    width: 100%;
}